<%= render 'public/shared/flash' %>
<div class="container-fluid">
  <div class="d-flex flex-sm-row flex-column-reverse">
    <div>
      <%= render 'public/genres/genre', genres: @genres %>
      <br>
      <br>
      <%= render 'public/posts/postlink' %>
    </div>
    <div>
      <div class="map">
        <h1 class="top">Airport in the world</h1>
        <h2><strong>バックパックと世界を旅しよう</strong></h2>
      </div>
    </div>
  </div>
</div>