<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--検索フォーム挿入-->
      <br>
      <%= render 'public/genres/genre', genres: @genres %>
      <br>
      <br>
      <%= render 'public/posts/postlink' %>
    </div>
    <div class="col-md-10">
      <h1>Airport in the world</h1>
      <h3>バックパックと世界を旅しよう</h3>
    </div>
  </div>
</div>
