<!--<div class="container mt-5">-->
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
      <h2>世界地図とジャンル載せる</h2>
          <ul class="genres">
            <% @parents.each do |parent| %>
            <li class="parents">
              <%= link_to "#{parent.name}", genre_path(parent) %>
            </li>
            <ul class="genres__children">
              <% parent.children.each do |child| %>
              <li class="childern">
                <%= link_to "#{child.name}", genre_path(child) %>
              </li>
              <ul class="genres__grandchildren">
                <% child.children.each do |grandchild| %>
                <li class="gc">
                  <%= link_to "#{grandchild.name}", genre_path(grandchild) %>
                </li>
                <% end %>
              </ul>
              <% end %>
            </ul>
            <% end %>
          </ul>
