// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import "bootstrap-sprockets";
// @import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
  table.table th {
    white-space:nowrap;
 }

  .comments {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
 }

  .comments .title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
 }

  .comments .comment{
    margin: 0;
    padding: 0;
  }

  .pagination {
    justify-content: center;
    color: #000080;
 }

  .pagination>li>a {
    border: none;
    color: #000080;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}


.map{
  background: #888 url(../images/map.jpg);
}
// .map {
//   background-image: url('/assets/images/map.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
// }