// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import "bootstrap-sprockets";
// @import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
 //全体のcoutainer//
  .container-fluid {
    over-flow: hidden;
  }

  footer {
    // font-family: 'Train One', cursive;
    font-family: 'Playball', cursive;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-size: 18px;
  }

  header {
    // font-family: 'Train One', cursive;
    font-family: 'Playball', cursive;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
  }

  header.p earth {
    font-size: 5px;
  }

  header .navbar-nav {
    margin-left: auto;
  }

  table.table th {
    white-space:nowrap;
  }

  .d-flex {
  margin-top: 4%;
  }
  .left-bar {
    margin-right : 4%;
  }


 //部分テンプレート//
  @media screen and (max-width: 480px) {
    .genreform {
      margin-left: 0 auto;
      margin-right: 0 auto;
      margin-bottom: 10%;
      margin-top: 10%;
      text-align: -webkit-center;
    }
  }
  //部分テンプレート終了//


  //以下コメント//
  .comment-list {
    // position: relative;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .comments .comment{
    margin: 0;
    padding: 0;
  }
  .comments {
  font-family: 'Oleo Script', cursive;
  }
  //コメント終了//


  //ページネーション//
  .pagination {
    justify-content: center;
    color: #000080;
  }
  .pagination>li>a {
    border: none;
    color: #000080;
  }
  .pagination>.active>a {
    background: #93c9ff;
    border-radius: 15px;
  }

  .pagination>li>a:hover {
    border-radius: 15px;
  }
  //ページネーション終了//


  //aboutページ//
  .about-page{
    background-image: image-url('airport.jpg');
    // font-family: 'cursive','fantasy','Courier','Georgia','メイリオ', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    animation: about-page-anim 2.0s;
  }
  @keyframes about-page-anim {
     0%{
         width: 0%;
       }
     100%{
         width: 100%;
       }
  }

  .about-page h1 {
    color: #FFF;
    text-shadow: #333 1px 0 10px;
    font-family: 'Playball', cursive;
    font-size:clamp(45px,7.5vw,98px);
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100vw;
    text-align:center;
  }

  @media screen and (min-width:480px) {
    .about-page h1 .pcdn {
      display:none;
    }
  }

  .about-text h2 {
    color: #FFF;
    position: absolute;
    top: 78%;
    left: 30%;
    font-size:clamp(43px,7.0vw,40px);
    font-family: 'Kaisei Tokumin', serif;
    font-style: italic;
  }
  //aboutページ終了//


  //topページ//
  .map-container {
    margin-left: 5%;
  }
  @media screen and (max-width: 480px) {
    .map-container {
       margin-left: 0;
    }
  }

  .map {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80vh;
    animation-name: mapAnime;
    animation-fill-mode:backwards;
    animation-duration:4s;
    animation-timing-function:ease;
  }

  @keyframes mapAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 480px) {
    .map { height: 60vh;
    }
  }

  .map h1{
    font-family: 'Oleo Script', cursive;
    font-size:clamp(55px,7.5vw,100px);
    position: relative;
    text-align:center;
    letter-spacing: 0.04em;
    color: #000033;
  }

  .topimg {
    width: 70vw;
    margin-top: -8%;
  }

  @media screen and (max-width: 480px) {
    .topimg { width: 90vw;
    }
  }

  .issp {
    display: none;
  }
  @media screen and (max-width: 480px) {
    .issp{
      display: block;
    }
  }

  .sub {
    font-size:clamp(43px,7.0vw,52px);
    font-family: 'Kaisei Tokumin', serif;
    font-style: italic;
    color: #000033;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -13%;
  }
  //topページ終了//


  //投稿詳細ページ//
  .post-container-fluid {
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .post-table {
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    .post-table {
      text-align: left;
    }
  }
  .mb-10 {
    font-family: 'Oleo Script', cursive;
  }
  @media screen and (max-width: 480px) {
    .mb-10 {
      margin-top: 8%;
      margin-bottom: 5%;
      font-family: 'Oleo Script', cursive;
    }
  }
  @media screen and (max-width: 480px) {
    .sl {
    display: none;
    margin-top: 10px;
    }
  }
  @media screen and (max-width: 480px) {
    .sidebar {
      margin-left: 4%;
    }
  }

 //投稿詳細ページ終了//


  //投稿ページ//
  .post-container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  //投稿ページ終了//


  //countryページ//
  @media screen and (max-width: 480px) {
    .country {
      text-align: center;
      margin-left: 0 auto;
      margin-right: 0 auto;
      display: inline-table;
    }
  }
  //countryページ終了//

  //serchページ//
  @media screen and (max-width: 480px) {
    .search {
      text-align: center;
      margin-left: 0 auto;
      margin-right: 0 auto;
      display: inline-table;
    }
  }
  //serchページ終了//

  //posterページ//
  .poster {
    font-family: 'Oleo Script', cursive;
    font-size: 27px;
  }

  .poster .pt-10 {
    padding-top: 13px;
  }
  .poster .under {
    margin: 0 auto;
    padding-top: 40px;
  }
  .poster h3 {
    font-size: 40px;
    padding-bottom: 20px;

  }
  .poster .noimg {
    margin-top: 40px;
  }
  //posterページ終了//


  //mypage & edit//
  .mypage {
    font-family: 'Oleo Script', cursive;
    font-size: 27px;
    padding-bottom: 5%;
  }
  .mypage .under {
    margin: 0 auto;
    padding-top: 40px;
  }
  .mypage h3 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  .mypage .noimg {
    margin-top: 40px;
  }

  .editpage {
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    padding-bottom: 5%;
  }
  .editpage .table {
    width: 50%;
    color: #212529;
    margin: 0 auto 1rem;
  }
  .editpage .myimg {
    font-size: 20px;
  }
  .editpage .pt-10 {
    padding-top: 6%;
  }
  .editpage h3 {
    font-size: 40px;
  }
  //mypage & edit終了//


  //postlink & genre//
  .postlink {
    font-family: 'Oleo Script', cursive;
    margin-left: 0%;
    margin-top: -28px;
    text-align:center;
  }
  .postlink p {
    font-size: 20px;
    color: #000033;
  }
  .posts p {
    font-size: 16px;
    color: #000033;
  }

  .genreform {
    padding-top: 5%;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    color: #000033;
  }
  //postlink & genre終了//


  //contactページ//
  .contact-container {
    font-family: 'Oleo Script', cursive;
    color: #000033;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 27px;
  }
  // .contact .table {
  //     width: 50%;
  //     color: #000033;
  //     margin: 0 auto 1rem;
  //     font-size: 30px;
  //     color: #000033;
  // }
  .contactnew {
    font-size: 50px;
    margin-bottom: -20px;
  }
  //contactページ終了//

  //others//
  .flashmassege {
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    color : #000080;
  }

  #googlemap {
    height: 350px;
    width: 350px;
    margin-top: 40px;
  }

  .map-btn {
    margin-top: 15px;
  }