// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import "bootstrap-sprockets";
// @import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

body {
 font-family: 'cursive','fantasy','Courier','Georgia','メイリオ',sans-serif;
}




  table.table th {
    white-space:nowrap;
 }

  .comments {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #001A43;
    border-radius: 8px;
 }

  .comments .title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #001A43;
    font-weight: bold;
 }

  .comments .comment{
    margin: 0;
    padding: 0;
  }

  .pagination {
    justify-content: center;
    color: #000080;
 }

  .pagination>li>a {
    border: none;
    color: #000080;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}


.about-page {
  background-image: image-url('airport.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.map {
  background-image: image-url('map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 80vh;

}

.h1 {
  font-family: "Allura";
  color: #FFF80;
  font-style: italic;
}

.mypage{

  background-image: image-url('hongkong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

