  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5">
        <!--Bookmark一覧-->
        <%= render 'public/users/bm', bookmark_posts: @bookmark_posts %>
      </div>
      <!--<div class="col-md-2"></div>-->
      <div class="col-md-6 mt-5">
        <!--投稿一覧-->
        <%= render 'public/users/post_index', posts: @posts %>
      </div>
    </div>
  </div>
  <% if @bookmark_posts.total_count > @posts.total_count %>
    <%= paginate @bookmark_posts %>
  <% else %>
    <%= paginate @posts %>
  <% end %>



