<footer>
  <nav class="navbar text-light bg-dark fixed-bottom">
    <div class='container'>
    	<div class='mx-auto'>
    	  <div class="d-flex justify-content-center">Airport in the world<i class="fas fa-globe"></i></div>
      </div>
    </div>
  </nav>
</footer>